<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Alta Proyectos</title>
</head>
    <style>
      html, body, #map-canvas {
        height: 87%;
        margin: 0px;
        padding: 0px;
      }
            #panel {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
  
<body>

    <div id="map-canvas">  </div>
    <div id="panel" style="margin-left: -52px">
        <button id="guardar" onclick="getConfirmation();">Guardar Puntos</button>

     </div>






<div>
	id_Descripcion: <input type="text"  placeholder="numero "  name="id_Descripcion" id="id_Descripcion"/>
</div>
<div>
	id_Proyecto: <input type="text"  placeholder="numero "  name="id_Proyecto" id="id_Proyecto"/>
</div>
<div>
	id_dependencia: <input type="text"  placeholder="numero "  name="id_dependencia" id="id_dependencia"/>
</div>
<div>
	id_ubicacion: <input type="text"  placeholder="numero "  name="id_ubicacion" id="id_ubicacion"/>
</div>
<div>
	id_sercretaria: <input type="text"  placeholder="numero "  name="id_secretaria" id="id_secretaria"/>
</div>
<div>
	nombre_corto: <input type="text"   name="nombre_corto" id="nombre_corto"/>
</div>
<div>
	nombre_largo: <input type="text"   name="nombre_largo" id="nombre_largo"/>
</div>






<div>
	<input type="button" onclick="guardar();" value="Add">
</div>




	<script src="https://apis.google.com/js/client.js?onload=initialize"></script>
	<script src="/js/jquery-1.9.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

	<script>
	
	
	API_URL = 'https://' + 'focal-furnace-615.appspot.com' + '/_ah/api'
	
	
	if (window.location.hostname == 'localhost'
			|| window.location.hostname == '127.0.0.1'
			|| ((window.location.port != "") && (window.location.port > 999))) {
		// We're probably running against the DevAppServer
		API_URL = 'http://' + 'focal-furnace-615.appspot.com' + '/_ah/api';
	}
	
	window.alert(API_URL);
	
	
	
	var cantidad_elementos;
	var puntosPoligono = [];

	var puntoInicialPoligono = [];
	var idPuntosPoligono = [];
	var map;
	var poligonocreado=false;
	var puntos=[];
	var bermudaTriangle;
	var flightPath; 
    var id_ubicaciones;
    var cantidad_ubicaciones;
	
	
	
	
	
	
	function initialize() {
  var mapOptions = {
    zoom: 6,
    center: new google.maps.LatLng(22.936025, -101.626261)
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


google.maps.event.addListener(map, 'click', function(event) {
	
	if(poligonocreado!=true){		
	//		var e = document.getElementById("areaType");
	//		var strUser = e.options[e.selectedIndex].value;

			var punto = event.latLng;
			/*gapi.client.puntoendpoint.insertPunto({
					"lat" : punto.k,
					"lon" : punto.A,
					"timestamp" : 1,
					"id_device" : 0
				}).execute(function(resp){
					arrPPids.push(resp.id);
				});
				*/
			
				
				var markerPoligono = new google.maps.Marker({
				    position: punto,
				    map: map
				    
				  });
				  	if(punto!=puntosPoligono[0]){
				  	puntos.push(punto);
					puntosPoligono.push(markerPoligono);
					}
					
					
				google.maps.event.addListener(markerPoligono, 'click', function() {
				    if(puntosPoligono[0].position==markerPoligono.getPosition()){
				    puntos.push(punto);
					puntosPoligono.push(markerPoligono);
				    	poligono();
				    //	puntos = [];
				    }
				});
				
				if(puntosPoligono.length>1){
				// var flightPlanCoordinates = puntosPoligono.position;
				
				
				if(puntosPoligono.length>2)
					flightPath.setMap(null);
					
				 for(var x=0;x<puntosPoligono.length;x++)
				 {
				 	//puntos.push(puntosPoligono.position);
				 }
  
    flightPath = new google.maps.Polyline({
    path: puntos,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
				}
	}	
	
	else{
	
	var retVal = confirm("Desea modificar el poligono?");
   if( retVal == true ){
  
   poligonocreado=false;
  

  
  setAllMap(null);
     puntosPoligono = [];
    document.getElementById("guardar").style.display="block"
  //  document.getElementById("delete").style.display="none"
   

  }
   
	}	
		});

/////// EndPoint
				var loadAreaPoligonal = gapi.client.load('ubicacionesendpoint','v1',function(){
												gapi.client.ubicacionesendpoint.listUbicaciones().execute(function(resp){
												//	window.alert("obraendpoint Loaded");
													//manageAreasPoligonales(resp);
													arrAreasf = resp.items;
													if(!resp.items){
													cantidad_ubicaciones=0;
													}
													else
													cantidad_ubicaciones=resp.items.length;
												
													
												
													
												});
											}, API_URL);
var loadAreaPoligonal1 = gapi.client.load('proyectoendpoint','v1',function(){

												gapi.client.proyectoendpoint.listProyecto().execute(function(resp){
												//	window.alert("obraendpoint Loaded");
													//manageAreasPoligonales(resp);
													var lista = resp.items;
													if(!resp.items){
													cantidad_elementos=0;
													}
													else
													cantidad_elementos=resp.items.length;
												
									
												
													
												});
											}, API_URL);
														var loadAreaPoligonal3 = gapi.client.load('multimediaendpoint','v1',function(){
												gapi.client.multimediaendpoint.listMultimedia().execute(function(resp){
												//	window.alert("obraendpoint Loaded");
													//manageAreasPoligonales(resp);
													arrAreasf = resp.items;
													if(!resp.items){
													cantidad_ubicaciones=0;
													}
													else
													cantidad_ubicaciones=resp.items.length;
												
													
												
													
												});
											}, API_URL);
											
															var aux2 = gapi.client.load('multimediaendpoint', 'v1', function(){

// 			
				


											
											
											
											
											
											
											
											
											
															var reques = gapi.client.multimediaendpoint.insertMultimedia({
"idMultimedia" :"1",
"idReferencia" : 4,
"tipoArchivo" : 2,
"tipoReferencia":1,
"path":"path"

				}).execute(function(resp){

				
					window.alert(resp.message);
				});
				
			//	window.alert("Guardado");
				
			//}
			
		}, API_URL);

											
}
	//esto es una jalada
	
	//Funcion que se encargara de tomar los datos insertados por el usuario, para despues insertarlos en el data store
	function guardar(){
		
	if(cantidad_elementos==0)id_Proyecto=1;
	else 
	id_Proyecto=cantidad_elementos+1;	

		

	 var  id_Descripcion= $('#id_Descripcion').val();

	 var  id_dependencia= $('#id_dependencia').val();
	 var  id_ubicacion= $('#id_ubicacion').val();
	 
	 var  id_secretaria= $('#id_secretaria').val();
	 var  nombre_corto= $('#nombre_corto').val();
	 var  nombre_largo= $('#nombre_largo').val();


	 

		
		var aux = gapi.client.load('proyectoendpoint', 'v1', function(){

// 			
				
				var reques = gapi.client.proyectoendpoint.insertProyecto({
"id_Descripcion": parseInt(id_Descripcion),
"id_Proyecto": parseInt(id_Proyecto),
"id_dependencia": parseInt(id_dependencia),
"id_hubicacion": parseInt(id_ubicacion),
"id_sercretaria": parseInt(id_secretaria),
"nombre_corto": nombre_corto,
"nombre_largo": nombre_largo

				}).execute(function(resp){

				
					window.alert(resp.message);
				});
				
			//	window.alert("Guardado");
				
			//}
			
		}, API_URL);
		if(cantidad_ubicaciones==0)cantidad_ubicaciones=1;
	else 
	cantidad_ubicaciones=cantidad_ubicaciones+1;	

		
		//"lat" : event.latLng.k,
		//"lon" : event.latLng.A,
		var ubi=[];
		for(var t=0;t<puntos.length;t++)
		{
			var latitud=puntos[t].k;
			var longitud=puntos[t].B;
		ubi.push(latitud+","+longitud+"");
			
		}
		var detente;
		
				var aux2 = gapi.client.load('ubicacionesendpoint', 'v1', function(){

// 			
				



				
				
				
				
				
				var reques = gapi.client.ubicacionesendpoint.insertUbicaciones({
"id_Ubicacion" :cantidad_ubicaciones,
"id_Ubicado" : parseInt(id_Proyecto),
"ubicacion" : ubi,
"tipo_Entidad":0

				}).execute(function(resp){

				
					window.alert(resp.message);
				});
				
			//	window.alert("Guardado");
				
			//}
			
		}, API_URL);

		
				////insertamos la ubicacion

										

          
		}
		
		
		/////////
	
	////////////////////////
		
		
	function poligono(){
//"block"

document.getElementById("guardar").style.display="none"
poligonocreado=true;
		bermudaTriangle = new google.maps.Polygon({
		    paths: puntos,
		    strokeColor: '#FFFF00',
		    strokeOpacity: 0.8,
		    strokeWeight: 3,
		    fillColor: '#00FF5D',
		    fillOpacity: 0.35
	  	});
	 	bermudaTriangle.setMap(map);


	}
	function getConfirmation(){
   var retVal = confirm("No se a cerrado un poligono, desea guardar?");
   if( retVal == true ){
    document.getElementById("guardar").style.display="none"
    poligonocreado=true;
	  return true;
   }else{
     // alert("User does not want to continue!");
	  return false;
   }
}
	
	
	
	
	
function setAllMap(mapa) {
 //alert("setAll puntosPoligono.length: " + puntosPoligono.length);
  for (var i = 0; i < puntosPoligono.length; i++) {
    puntosPoligono[i].setMap(null);
  }
  puntosPoligono=[];
  puntos=[];
  if(bermudaTriangle)
  bermudaTriangle.setMap(null);
  flightPath.setMap(null);
  
}

function placeMarker(position, map) {
  var marker = new google.maps.Marker({
    position: position,
    map: map
  });

}
	
google.maps.event.addDomListener(window, 'load', initialize);

</script>

</body>
</html>